Dist/
glm/
Makefile
as2
.DS_Store
testB/
testJ/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Pics
*.png
*.bmp

# Example Input Files
input-*
complex2
test
hw2/